name: Photo + Audio Stream (Stable)

on:
  workflow_dispatch:

jobs:
  stream:
    runs-on: ubuntu-latest
    timeout-minutes: 350

    steps:
      - uses: actions/checkout@v3

      - name: Install FFmpeg
        run: |
          sudo apt update
          sudo apt install -y ffmpeg

      - name: Check Files
        run: |
          ls -l
          if [ ! -f "background.png" ]; then
            echo "background.png missing!" && exit 1
          fi
          if [ ! -f "audio.mp3" ]; then
            echo "audio.mp3 missing!" && exit 1
          fi

      - name: Start Stream
        run: |
          STREAM="rtmp://a.rtmp.youtube.com/live2/k4bv-wakv-50ad-uas6-8rtr"

          while true
          do
            echo "Starting stream..."

            ffmpeg -re \
              -loop 1 -i background.png \
              -stream_loop -1 -i audio.mp3 \
              -c:v libx264 \
              -preset veryfast \
              -tune stillimage \
              -pix_fmt yuv420p \
              -g 50 \
              -b:v 2000k \
              -c:a aac \
              -b:a 128k \
              -shortest \
              -t 05:40:00 \
              -f flv \
              "$STREAM"

            echo "Restarting in 10s..."
            sleep 10
          done
